<table>
    <thead>
        <tr>
            <th colspan="4">Students</th>
        </tr>
        <tr>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Contact Number</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.firstName + " " + student.lastName}}</td>
            <td>{{student.contactNumber}}</td>
            <td>{{student.emailAddress}}</td>
        </tr>
    </tbody>
</table>