<button (click)="addNewStudent()">Add New Student</button>

<table>
    <thead>
        <tr>
            <th colspan="4">Students</th>
        </tr>
        <tr>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Contact Number</th>
            <th>Email Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.firstName + " " + student.lastName}}</td>
            <td>{{student.contactNumber}}</td>
            <td>{{student.emailAddress}}</td>
            <td><button (click)="editStudent(student)">Edit</button></td>
        </tr>
    </tbody>
</table>

<app-edit-student [student]="studentToEdit" (studentsUpdated)="updateStudentList($event)"></app-edit-student>


