<div class="row" *ngIf="student">
  <div class="col-2"></div>
  <div class="col-8">
    <h2>{{ student!.firstName + " " + student!.lastName }}</h2>
    <div class="row">
      <div class="col-6">
        <label class="form-label">Student ID: </label>
        <input [(ngModel)]="student!.id" placeholder="{{ student.id || 'SCH0000' }}"
          (keyup)="validateStudent(student.id, student.firstName, student.lastName, student.contactNumber, student.emailAddress)"
          class="form-control" />
        <br>
        <label *ngIf="formErrors.id" style="color:red;">{{formErrors.id}}</label>
      </div>
      <div class="col-6">
        <label class="form-label">Contact Number: </label>
        <input [(ngModel)]="student!.contactNumber" placeholder="{{ student.contactNumber || 'Phone number' }}"
          (keyup)="validateStudent(student.id, student.firstName, student.lastName, student.contactNumber, student.emailAddress)"
          class="form-control" />
        <br>
        <label *ngIf="formErrors.contactnumber" style="color:red;">{{formErrors.contactnumber}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label class="form-label">First Name: </label>
        <input [(ngModel)]="student!.firstName" placeholder="{{ student.firstName || 'First name' }}"
          (keyup)="validateStudent(student.id, student.firstName, student.lastName, student.contactNumber, student.emailAddress)"
          class="form-control" />
        <br>
        <label *ngIf="formErrors.firstname" style="color:red;">{{formErrors.firstname}}</label>
      </div>
      <div class="col-6">
        <label class="form-label">Email Address: </label>
        <input [(ngModel)]="student!.emailAddress" placeholder="{{ student.emailAddress || 'Email address' }}"
          (keyup)="validateStudent(student.id, student.firstName, student.lastName, student.contactNumber, student.emailAddress)"
          class="form-control" />
        <br>
        <label *ngIf="formErrors.emailaddress" style="color:red;">{{formErrors.emailaddress}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label class="form-label">Last Name: </label>
        <input [(ngModel)]="student!.lastName" placeholder="{{ student.lastName || 'Last name' }}"
          (keyup)="validateStudent(student.id, student.firstName, student.lastName, student.contactNumber, student.emailAddress)"
          class="form-control" />
        <br>
        <label *ngIf="formErrors.lastname" style="color:red;">{{formErrors.lastname}}</label>
      </div>
      <div class="col-6">
        <div class="row justify-content-center" style="margin-top: 2rem !important;">
          <div class="col-3">
            <div class="row"><button class="btn btn-primary" (click)="addStudent(student)"
                [disabled]="!hasErrors(formErrors)">Add</button></div>
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <div class="row"><button class="btn btn-success" (click)="updateStudent(student)"
                [disabled]="!hasErrors(formErrors)">Update</button></div>
          </div>
          <div class="col-1"></div>
          <div class="col-3">
            <div class="row"><button class="btn btn-danger" (click)="deleteStudent(student)">Delete</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>