/* You can add global styles to this file, and also import other style files */
.dataTables_filter {
    margin-bottom: 1rem !important;
}

::selection {
    background-color: #2528c5;
    color: #fff;
}